.gc-calendar {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  padding: 1rem;
}

.gc-calendar .gc-calendar-header {
  background-color: #fff;
  padding: 2px;
  height: max-content;
  display: flex;
  align-items: center;
  margin-bottom: 10px;/* distancia cabecera mes-año con tabla*/
}

.gc-calendar .gc-calendar-header button.prev, .gc-calendar .gc-calendar-header button.next {
  height: 36px;
  /* width: 24px; */
  left: 0px;
  top: 0px;
  border-radius: 100px;
  background: #FFFFFF;
  border-radius: 100px;
  position: relative;
  display: inline-block;
  border: 0;
  padding: 1px 15px;
  font-size: 14px; /* botones para pasar mes*/
  box-shadow: inset 0px -1px 0px #EDF2F7;
  cursor: pointer;
  color: #7A7A9D;
  font-weight: bold;
  margin-right: 1px;
}

.gc-calendar .gc-calendar-header button.prev:hover, .gc-calendar .gc-calendar-header button.next:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08), 0px 7px 14px rgba(50, 50, 93, 0.1);
}

.gc-calendar .gc-calendar-header button.prev:focus, .gc-calendar .gc-calendar-header button.next:focus {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08), 0px 7px 14px rgba(50, 50, 93, 0.1);
  outline: none;
  border: 0;
}

.gc-calendar .gc-calendar-header button.prev {
  margin-left: 0px;
}

.gc-calendar .gc-calendar-header .gc-calendar-month-year {
  font-style: normal;
  font-weight: 600;
  font-size: 14px; /* fuente año */
  color: #38385c;
  line-height: 136.02%;
  min-width: 120px;
}

.gc-calendar table.calendar {
  width: 100%;
}

/* estilo cabecera nombre dias semana */
.gc-calendar table.calendar th {
  text-align: start;
  font-weight: 600;
  font-size: 10px; /* fuente nombre dias semana */
  line-height: 136.02%;
  padding: 2px;
  text-transform: uppercase;
  color: navy;
  position: relative;
  padding-bottom: 2px;
  /*background: LightCyan;*/
}

.gc-calendar table.calendar td {
  height: 15px; /* altura celda dia. default 150 */
  position: relative;
  padding-top: 3px;
  vertical-align: top;
  width: calc(100% / 7);
}

.gc-calendar table.calendar td.prev-month .day-number, .gc-calendar table.calendar td.next-month .day-number {
  color: #B5B5BD
}

/* celdas dia que no tienen eventos */
.gc-calendar table.calendar td .day-number {
  font-size: 9px; /* fuente nº dia mes del 1 al 30 */
  font-weight: 800;
  line-height: 38.09px;
  overflow-y: auto;
  color: navy; /* color borde */
  /*background-color: beige;*/ /* color fondo celdas dia  */
  text-decoration: none;
  display: block;
  border: 1px solid; /* ancho borde de celda dias */
  text-align: center;
  /*width: 20px;*/
  
  /* estilo numero con circulo */
        border-radius: 50%;
        width: 12px;
        height: 12px;
        padding: 4px;
        background: #fff;
        border: 1px solid silver;
        color: #000;
        text-align: center;
        vertical-align: baseline;
        font: 10px Arial, sans-serif;
  
  
  
}

.gc-calendar table.calendar td .today .day-number {
  color: #4C6FFF;
}

.gc-calendar table.calendar a {
  text-decoration: none;
  display: block;
}

.gc-calendar table.calendar a:hover {
  background-color: ivory; /* color de fondo en hover sobre el nº dia */
  /*width: 90%;
  border-radius: 5px;
  padding-left: 10px;*/
  transition: .2s;
}

/* estilo aplicado al nº  dia en hover */
.gc-calendar table.calendar a:hover .day-number {
  color: red;
  font-weight: bold;
}

.gc-calendar table.calendar th::before, .gc-calendar table.calendar tr:not(:last-child) td::before {

}

.gc-calendar table.calendar td:hover {
  background: ivory; /* color de fondo on hover sobre dias */
  padding-left: 1px;
  padding-right: 1px;
  transition: 0.3s;
  border: 1px solid;
  border-color: OldLace; /* color del borde en hover sobre celdas numeros dia */
}

.gc-calendar .gc-event {
  display: block;
  width: max-content;
  /*margin-bottom: 10px; */ 
  font-size: 12px; /* fuente del evento */
  /*background-color: yellow;  color fondo del evento */
}



.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
